*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: segoe ui;
}
.header
{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}
.list
{
    list-style-type: none;
    float: right;
    padding-top: 15px;
}
.list li
{
    display: inline-block;
    padding-right: 30px;
    cursor: pointer;
}
.header a
{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    padding-left: 30px;
}
.header li:hover ,.header a:hover
{
    color: crimson;
}
.clear-fix
{
    clear: both;
}
.home
{
    width: 100%;
    height: 100vh;
    background-image: url(../img/slider/slider-01.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.layout
{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.4);
    color: white;
    text-align: center;
}
.layout-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.layout-content h2
{
    padding: 20px 0;
    color: crimson;
    font-size: 32px;
}
/* /////////////////////////////////////////////////////////////////// */
.about
{
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
}
.about-img
{
    width: 50%;
    float: left;
}
.about-image
{
    width: 70%;
    height: 65%;
    position: relative;
    overflow: hidden;

}
.about-img img
{
    width: 100%;
    height: 100%;
}
.img-info
{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
    position: absolute;
    top:100%;
    left: 0;
    text-align: center;
    transition: top 2s;
}
.img-text
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.img-text a
{
    color: black;
    padding-left: 5px;
}
.i1:hover
{
    color: crimson;
}
.about-image:hover .img-info
{
    top: 0;
}

/* .about-image:after
{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    

    width: 100%;
    height: 0;

    background-color: rgb(0,0,0);
    opacity: 0;
    transition: all 2s;
}
.about-image:hover::after
{
    opacity: 0.7;
    height: 100%;
    width: 100%;
} */

.about-content
{
    float: right;
    width: 50%;
}
.about p 
{
    padding: 20px 0;
}
.about table
{
    margin-top: 20px;
    width: 900px;
}
.btn
{
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.76);
    margin-top: 20px;
    cursor: pointer;
}
.btn:hover
{
    background-color: rgba(255, 100, 50) ;
}
/* //////////////////////////////////////////////////////////////////// */
.services
{
    margin-top: -80px;
}
.services-title
{
    height: 80px;
    padding-top: 15px;
    text-align: center;
    background-color: rgba(235, 226, 226, 0.801);
}
.line
{
    width: 100px;
    height: 1px;
    margin: auto;
    background-color: crimson;
}
.line1
{
    width: 200px;
    height: 2px;
    margin: 8px auto;
    background-color: crimson;   
}
.service-items
{
    background-color: rgba(235, 226, 226, 1);
    height: 250px;
}
.service-item
{
    width: 25%;
    float: left;
    text-align: center;
}
.service-item h3
{
    padding-top: 15px;
}
.service-item i
{
    font-size: 32px;
    color: crimson;
    padding-top: 10px;
}
.service-item p
{
    line-height: 25px;
    padding: 25px;
}
.service-item:hover
{
    background-color: white;
    border-radius: 15px;
}
/* ////////////////////////////////////////////////////////////////////*/
.portfolio-title h2
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}
.brand
{
    text-align: center;
    margin-top: 10px;
}
.brand button
{
    background-color: buttonface;
    border: none;
    padding-left: 10px;
    padding: 10px;
}
.brand button:hover
{
    color: crimson;
}
.portfolio
{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;
}
.portfolio-item
{
    width: 33.33%;
    float: left;
    padding-left: 80px;
    overflow: hidden;
}
.inner
{
    position: relative;
}
.portfolio-item img
{
    width: 100%;
}
.file
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0,0.5);
    opacity: 0;
    transition: opacity 1s;
}
.file i
{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 32px;
    color: red;
}
.file:hover
{
    opacity: 1;
}
/* ////////////////////////////////////////////////////////////// */
.counters
{
    width: 100%;
    height: 250px;
    background-color: rgba(235, 226, 226, 0.801);
}
.counter
{
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.counter-item
{
    width: 25%;
    float: left;
    margin-top: 70px;
    text-align: center;
}
.counter-item h2
{
    padding: 20px 0;
}
.counter-item i
{
    font-size: 32px;
    color: red;
}
/* /////////////////////////////////////////////// */
.blog-title h2
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.pad
{
    margin: 8px auto;
}
.our-blog
{
    width: 90%;
    margin: auto;
}
.blog
{
    width: 33.33%;
    float: left;
    padding: 20px;
}
.blog img
{
    width: 100%;
}
.blog h3
{
    padding: 5px 0;
}
.blog p
{
    padding-bottom: 7px;
}
.read
{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.blog iframe
{
    width: 100%;
    height: 234px;
}
.blog a
{
    color: black;
    text-decoration: none;
}
.blog a:hover 
{
    color: red;
}
/* /////////////////////////////////////////////////////////////////////////// */
.contact-us
{
    width: 100%;
    height: 500px;
    background-color:rgba(235, 226, 226, 0.801) ;
}
.contact h2
{
    text-align: center;
    padding-bottom: 15px;
}
.contact
{
    margin-top: 80px;
}
.contact form
{
    text-align: center;
    padding-top: 50px;
}
input{
    width: 220px;
    height: 25px;
}
.btnn 
{
    width: 100px;
    padding: 10px;
    border: none;
    background-color: rgba(235, 200, 186, 0.801) ;
    border-radius: 10px;
    cursor: pointer;
}
.btnn:hover 
{
    background-color: lightgreen;
}
/* ///////////////////////////////////////////////////////////////////////////// */
.footer
{
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
}
.footer-content
{
    margin-top: 30px;
    text-align: center;
}
.footer a
{
    color: white;
    text-decoration: none;
    padding-left: 10px;
}
.footer h6
{
    padding-top: 15px;
}